//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define Base        0
#define Num         1
#define Sym         2
#define Fun         3

&mt {
    tapping-term-ms = <170>;
    quick-tap-ms = <125>;
    require-prior-idle-ms = <100>;
    flavor = "tap-preferred";
};

&lt {
    tapping-term-ms = <240>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

&caps_word {
	continue-list = <UNDERSCORE BACKSPACE DELETE MINUS>;
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            display-name = "HOMEROW_MODS";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <125>;
            bindings = <&kp>, <&kp>;
        };
    };

    combos { compatible = "zmk,combos"; };

    keymap {
        compatible = "zmk,keymap";

        Base {
            display-name = "Base";
            bindings = <
              &kp Q       &kp W       &kp E          &kp R       &kp T      &kp Y     &kp U        &kp I        &kp O       &kp P
              &hm LGUI A  &hm LALT S  &hm LSHFT D    &hm LCTRL F &kp G      &kp H     &hm RCTRL J  &hm RSHFT K  &hm LALT L  &hm RGUI SEMI
&mt LCTRL ESC &kp Z       &kp X       &kp C          &kp V       &kp B      &kp N     &kp M        &kp COMMA    &kp DOT     &kp FSLH      &kp APOSTROPHE
                                      &caps_word     &lt 1 RET   &lt 3 TAB  &kp BSPC  &lt 2 SPACE  &kp DEL
            >;
        };
        Num {
            display-name = "Num";
            bindings = <
              &kp TILDE   &kp BSPC    &kp UP     &kp DEL    &trans        &kp EQUAL        &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp PLUS
              &trans      &kp LEFT    &kp DOWN   &kp RIGHT  &trans        &kp KP_MULTIPLY  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp MINUS
&kp LEFT_ALT  &trans      &kp MINUS   &trans     &kp PLUS   &trans        &trans           &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp SLASH  &trans
                                      &trans     &trans     &trans        &trans           &kp DOT       &kp NUMBER_0
            >;
        };
        Sym {
            display-name = "Sym";
            bindings = <
              &kp EXCL    &kp AT    &kp HASH  &kp DOLLAR     &kp PERCENT    &trans   &kp LBKT   &kp RBKT  &kp LPAR  &kp RPAR
              &kp CARET   &kp AMPS  &kp STAR  &kp BSLH       &kp PIPE       &kp LEFT &kp DOWN   &kp UP    &kp RIGHT &kp UNDERSCORE
&kp GRAVE     &trans      &kp TILDE &kp GRAVE &kp APOSTROPHE &trans         &kp HOME &kp PG_DN  &kp PG_UP &kp END   &trans  &trans
                                    &trans    &trans         &trans         &trans   &trans     &trans
            >;
        };
        Fun {
            display-name = "Sym";
            bindings = <
              &kp F1    &kp F2   &kp F3    &kp F4    &trans         &kp C_PREV &kp C_PP     &trans       &kp C_NEXT &kp C_PP
              &kp F5    &kp F6   &kp F7    &kp F8    &trans         &kp C_RW   &kp C_VOL_DN &kp C_VOL_UP &kp C_FF   &trans
    &trans    &kp F9    &kp F10  &kp F11   &kp F12   &trans         &trans     &kp C_MUTE   &trans       &trans     &trans  &trans
                                 &trans    &trans    &trans         &trans     &kp C_BRI_DN &kp C_BRI_UP
            >;
        };
    };
};
